#head{
	text-align: center;
	background-color: black;
	color: white;
	/* width: 80 */
	border-radius: 10%;
	
}


body{
	padding: 0;
	margin: 0;	
	width:100vw;
	height: 90vh;	
}
.panel{
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
}
.question-container{
	margin: 10px;
	padding: 5px;
	width: 80vw;
	height: 10vh;
	background-color: #a3c1c3;
	font-size: x-large;
	text-align: center;
	border-radius: 10%;
	
}
.result{
	margin: 10px;
	padding: 5px;
	width:80vw;
	height: 10vh;
	text-align: center;
	font-size: 50px;
	
}
.option-container{
	display: flex;
	justify-content: space-around;
	margin: 10px;
	padding: 5px;
	width: 80vw;
	height: 20vh;
	background-color: #8ee9f4;
		
}
.option{	
	padding: 10px;
	width: 15vw;
	height: 10vh;
	font-size: larger;
	background-color: lightskyblue;
	border-radius: 25%;
}
.option:hover{
	background-color: rgb(226, 226, 121);
}
.navigation{
	width: 80vw;
	height: 10vh;
	margin: 10px;
	padding: 5px;
	display: flex;
	justify-content: space-around;
	background-color:#c7dddf;
}

.evaluate,.next{
	width:30vw;
	height: 8vh;
	padding: 5px;
	font-size: larger;
}
.evaluate{
	
	background-color: #63f7cd;
}
.next{
	color: white;
	background-color: #f7483e;
}